@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
	--theme-BG: hsl(0, 0%, 100%);
	--theme-top-BG: hsl(225, 100%, 98%);
	--theme-card-BG: hsl(227, 47%, 96%);
	--theme-card-BG-hover: hsl(227, 47%, 93%);
	--color-text-main: hsl(230, 17%, 14%);
	--color-text: hsl(228, 12%, 44%);
	--color-toggle-theme: hsl(230, 22%, 74%);
	--color-toggle-theme-hover: linear-gradient(80deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

	--time-transitions: 0.5s;
	--type-transitions: cubic-bezier(0.22, 0.61, 0.36, 1);
	/* --color-green: hsl(163, 72%, 41%);
	--color-red: hsl(356, 69%, 56%);
	--color-FB: hsl(208, 92%, 53%);
	--color-TW: hsl(203, 89%, 53%);
	--color-IG: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
	--color-YT: hsl(348, 97%, 39%); */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-size: 14px;
}

/* html.dark {
	--theme-BG: hsl(230, 17%, 14%);
	--theme-top-BG: hsl(232, 19%, 15%);
	--theme-card-BG: hsla(228, 28%, 20%);
	--color-text-main: hsl(0, 0%, 100%);
	--color-text: hsl(228, 34%, 66%);
	--color-toggle-theme: linear-gradient(45deg, hsl(146, 68%, 55%), hsl(210, 78%, 56%));
} */

body.dark {
	--theme-BG: hsl(230, 17%, 14%);
	--theme-top-BG: hsl(232, 19%, 15%);
	--theme-card-BG: hsla(228, 28%, 20%);
	--theme-card-BG-hover: hsl(228, 28%, 25%);
	--color-text-main: hsl(0, 0%, 100%);
	--color-text: hsl(228, 34%, 66%);
	--color-toggle-theme: linear-gradient(80deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

body {
	display: grid;
	grid-template-rows: minmax(120px, 150px) 1fr 50px;
	/* flex-direction: column;
	justify-content: center; */
	width: 100vw;
	height: 100vh;
	/* min-height: 100vh; */
	background-color: var(--theme-BG);
}

body::before {
	content: "";
	width: 100%;
	height: clamp(30vh, 80%, 35vh);
	position: absolute;
	top: 0;
	background-color: var(--theme-top-BG);
	z-index: -1;
}

header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: clamp(120px, 80%, 150px);
	padding-top: 5%;
}

header>nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	max-width: 80vw;
	height: 50%;
}

header>nav>div>h1 {
	font-size: 3rem;
	color: var(--color-text-main);
}

header>nav>div>h5 {
	font-size: 1rem;
	color: var(--color-text);
}

header>nav>div.selectorTheme {
	display: flex;
	align-items: center;
	gap: 10px;
}

header>nav>div.selectorTheme>.toggle {
	display: flex;
	align-items: center;
	padding: 0 4px;
	border-radius: 20px;
	width: 50px;
	height: 24px;
	background: var(--color-toggle-theme);
}

header>nav>div.selectorTheme>.toggle>span.point {
	display: flex;
	justify-content: start;
	align-items: center;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background-color: var(--theme-top-BG);
	transition: cubic-bezier(0.58, -0.01, 0.43, 1.15) 0.6s;
}

header>nav>div.selectorTheme>div.toggle.move,
span.point {
	display: flex;
	justify-content: end;
}

main {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
}

main>section {
	display: flex;
	justify-content: center;
	width: 80%;
	transition: var(--time-transitions) var(--type-transitions) all;
}

main>section.containerMainCards {
	display: flex;
	height: clamp(220px, 95%, 245px);
	gap: 20px;
}

main>section.containerMainCards>.cards {
	display: flex;
	flex-direction: column;
	flex: 2;
	align-items: center;
	border-radius: 5px;
	background: var(--theme-card-BG);
	color: var(--color-text-main);
	height: clamp(220px, 80%, 270px);
	/* don't have idea how function this function */
}

main>section.containerMainCards>.cards>.colorEnterprice {
	border-radius: 5px 5px 0px 0px;
	background: var(--color-enterprice);
	width: 100%;
	height: 5px;
}

main>section.containerMainCards>.cards>* {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

main>section.containerMainCards>.cards>*:not(.colorEnterprice) {
	display: flex;
	flex: 1;
}

main>section.containerMainCards>.cards>.socialMedia {
	display: flex;
	font-size: 1.4rem;
	gap: 5px;
	color: var(--color-text);
}

main>section.containerMainCards>.cards>.numbers {
	display: flex;
	align-items: end;
	font-size: 4rem;
	text-align: end;
}

main>section.containerMainCards>.cards>.textFolowers {
	justify-content: center;
	align-items: start;
	letter-spacing: 6px;
	font-size: 1.2rem;
	font-weight: 400;
	color: var(--color-text);
}

main>section.containerMainCards>.cards>.statistics {
	display: flex;
	align-items: center;
	font-weight: 700;
	gap: 5px;
	margin-bottom: 20px;
}

main>section.statisticCards {
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	grid-template-rows: minmax(30px, 50px) 1fr 1fr;
	width: 80%;
	height: clamp(20vh, 50%, 50vh);
	gap: 20px;
}

main>section.statisticCards>h2 {
	grid-column: 1 / -1;
	width: 100%;
	color: var(--color-text-main);
	font-size: 2rem;
}

main>section.statisticCards>div.containerCardsTypeStatistics {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, minmax(15px, 25px));
	justify-items: end;
	padding: 20px;
	width: 100%;
	row-gap: 15px;
	border-radius: 5px;
	background: var(--theme-card-BG);
}

main>section.statisticCards>div.containerCardsTypeStatistics>*:nth-child(odd) {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-items: start;
}

main>section.statisticCards>div.containerCardsTypeStatistics>*:nth-child(even) {
	display: flex;
	justify-content: center;
	align-items: center;
}

main>section.statisticCards>div.containerCardsTypeStatistics>p {
	font-weight: 700;
	color: var(--color-text);
}

main>section.statisticCards>div.containerCardsTypeStatistics>.showNumberInfo {
	font-size: 2rem;
	color: var(--color-text-main);
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-main);
}

*.active {
	display: none;
}

*:where(.bad, .good) {
	color: var(--color-state);
	font-weight: 700;
	font-size: 1rem;
}

*:is(section.containerMainCards, section.statisticCards:not(:first-child)) div:hover {
	background: var(--theme-card-BG-hover);
	cursor: pointer;
	transition: var(--time-transitions) all cubic-bezier(0.075, 0.82, 0.165, 1);
}

*:is(div.selectorTheme) .toggle:hover {
	background: var(--color-toggle-theme-hover);
	cursor: pointer;
}

/* Media Query for the view on smarthphone */
@media screen and (max-width: 375px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-items: center;
		margin: 0 30px;
	}

	header>nav {
		color: var(--color-text-main);
	}
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--theme-BG: hsl(230, 17%, 14%);
		--theme-top-BG: hsl(232, 19%, 15%);
		--theme-card-BG: hsla(228, 28%, 20%);
		--theme-card-BG-hover: hsl(228, 28%, 25%);
		--color-text-main: hsl(0, 0%, 100%);
		--color-text: hsl(228, 34%, 66%);
		--color-toggle-theme: linear-gradient(80deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
	}
} */